PORT=3000
VITE_SITE_URL=https://snowbots.net
VITE_BOT_NAME=Snowbots
VITE_TAGLINE=one-stop smart money tracking tools
VITE_TELEGRAM_URL=https://t.me/Snowbots_Navigation_Bot
VITE_TWITTER_URL=https://x.com/tradebot_master
VITE_HERO_IMAGE=/images/snowbots-hero.jpg
VITE_LOGO_IMAGE=/images/snowbots-logo.png
VITE_ROBOT_IMAGE=/images/snowbots-robot.png
VITE_EXPLORE_LABEL=Explore
VITE_SUPPORTED_CHAINS=ETH / BASE / BSC
VITE_TRANSACTION_VOLUME=10M+
VITE_ACTIVE_WALLETS=150+
VITE_HIGHEST_PROFIT=200K USDC
VITE_SMART_WALLETS_LIST=1K+
